<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:name=".BoxManagerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="BoxManager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.BoxManager">

        <activity
            android:name=".ui.qr.QrLabelActivity"
            android:exported="false" />

        <activity
            android:name=".ui.qr.QRActivity"
            android:exported="false" />

        <activity
            android:name=".ui.restore.RestoreActivity"
            android:exported="false" />

        <activity
            android:name=".ui.importdata.ImportActivity"
            android:exported="false" />

        <activity android:name=".ui.backup.BackupActivity" />
        <activity
            android:name=".ui.globalsearch.GlobalSearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.search.SearchResultActivity" />

        <activity
            android:name=".ui.boxdetail.BoxDetailActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".ui.categories.CategoriesActivity" />
        <activity android:name=".ui.settings.LocationsActivity" />

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.utility.UtilityActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>